In [1]:
import json
import itertools
from basics import *
from plotting import *
from matplotlib import cm
from ase import Atoms
from scipy import stats

plt.style.use("paper")

## Visualizing the Monte Carlo approach

In [2]:
facets = [100, 111, 211, 331, 410, 711]
nads = np.arange(2, 19)
num_sites = {100: 16, 111: 16, 211: 24, 331: 24, 410: 24, 711: 16}

In [15]:
df = pd.read_json("../data/mcmc/results/410-11.json")

## Visualizing

In [4]:
from ase import Atoms
import nglview as nv
from ase.build import make_supercell

In [5]:
def get_atoms(adict):
    return Atoms(
        positions=adict["positions"],
        numbers=adict["numbers"],
        pbc=adict["pbc"],
        cell=adict["cell"]
    )

In [10]:
df.head()

   move  replica                                              atoms     energy
0     0        0  {'numbers': [29, 29, 29, 29, 29, 29, 29, 29, 2...  10.894518
1     0        1  {'numbers': [29, 29, 29, 29, 29, 29, 29, 29, 2...  21.653111
2     0        2  {'numbers': [29, 29, 29, 29, 29, 29, 29, 29, 2...  28.139352
3     0        3  {'numbers': [29, 29, 29, 29, 29, 29, 29, 29, 2...  16.656945
4     0        4  {'numbers': [29, 29, 29, 29, 29, 29, 29, 29, 2...  20.105154

In [16]:
srt = df.sort_values("energy").drop_duplicates(subset="energy")

In [14]:
at = get_atoms(srt.iloc[1]["atoms"])
# at = make_supercell(at, np.array([2, 2, 1]) * np.eye(3))
nv.show_ase(at)

NGLWidget()

In [18]:
at = get_atoms(srt.iloc[0]["atoms"])
# at = make_supercell(at, np.array([2, 2, 1]) * np.eye(3))
nv.show_ase(at)

NGLWidget()