In [1]:
import json
import itertools
from basics import *
from plotting import *
from matplotlib import cm
from ase import Atoms

plt.style.use("paper")

## Visualizing the Monte Carlo approach

In [2]:
facets = [100, 111, 211, 331, 410, 711]
nads = np.arange(2, 19)

In [3]:
df = pd.read_csv("../data/mcmc/energies.csv.gz", compression="gzip", index_col=0)

In [4]:
len(df)

14322349

In [9]:
minen = df.groupby(["facet", "n"])["energy"]

In [19]:
perc = pd.DataFrame([
    {"facet": facet, "n": n, "top10": np.percentile(grp["energy"], 10)}
    for (facet, n), grp in df.groupby(["facet", "n"])
])
perc["key"] = perc["facet"].apply(str) + "-" + perc["n"].apply(str)

In [20]:
df["key"] = df["facet"].apply(str) + "-" + df["n"].apply(str)

In [21]:
perc = perc.set_index("key")

In [25]:
df["top10"] = perc.reindex(df["key"].values)["top10"].values

In [27]:
df["in_top10"] = df["energy"] <= df["top10"]

In [30]:
dedup = df.drop_duplicates(subset="energy")

In [33]:
dedup.groupby(["facet", "n"])["in_top10"].sum().reset_index().pivot(index="n", columns="facet", values="in_top10").fillna(0).astype(int)

facet  100  111  211  331  410  711
n
2        1    2    4    5   13    2
3        4   16  107   91  248   19
4       27  189  287  316  351  140
5      118  328  334  300  384  271
6      267  369  357  302  371  291
7      306  307  358  298  409  318
8      348  293  356  321  375  280
9      353  304  326  306  393  314
10     317  282  290  317  334  282
11     284  253  301  325  341  284
12     286   49  299  320  312  298
13     259    4  299  309  333  287
14     195    1  308   92  302  198
15      56    1  115   23  309   55
16      22    0   27    4  320    9
17       9    0   11    1  287    3
18       1    0    0    0  261    1